header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
background: linear-gradient(269.57deg, #011c1c 12.93%, #052e2e 102.24%);

box-shadow: rgba(0, 4, 5, 0.4);
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
color: #fff;
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

